.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 757px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 10px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 255px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 30px 258px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  background-image: none;
  margin: 0 242px 0 -242px;
}

.u-section-1 .u-image-1 {
  min-height: 452px;
  background-image: url("thumb-1920-126957.jpg");
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  min-height: 707px;
  background-image: url("1464801599_1464606291_tumblr_npf2yyoxWr1qdxux9o4_500.gif");
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 633px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 184px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 210px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 181px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    background-position: 50.78% 71.26%;
    min-height: 373px;
  }

  .u-section-1 .u-image-2 {
    background-position: 50% 50%;
    min-height: 583px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1614px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -856px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 571px;
  }

  .u-section-1 .u-image-2 {
    min-height: 893px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1248px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -586px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 357px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 837px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 841px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -91px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 225px;
  }

  .u-section-1 .u-image-2 {
    min-height: 527px;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("ezgif.com-video-to-gif.gif");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 787px;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  width: 448px;
  margin: 368px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 30px 56px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 497px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 373px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 235px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    width: 340px;
  }
}